// インラインコメント

base-font-size = 10px

*
  box-sizing: border-box

html
  font-size: base-font-size

body
  font-size: 1.4rem

html
body
  width: 100%
  margin: 0
  padding: 0

.foo
  &__bar
    &_baz
      width: 10px

      ^[-1]:hover &
        width: 20px
